body{
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Reset Button Styling */
button, input[type="submit"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1, p{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    align-items: center;
}

.header ul{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 24px;

}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.head-content{
    display: flex;
    background-color: #1F2937;
    padding: 100px 200px;
    justify-content: space-between;
    align-items: center;
}

.head-image{
    display: flex;
    flex-direction: column;
    background: rgb(134, 134, 139);
    width: 500px;
    height: 214px;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}

.head-info{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 400px;
    flex-wrap: wrap;
}

.head-info p{
    font-size: 16px;
    color: #E5E7EB;
    margin: 8px 0;
}

h1{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.sign-up{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: 800;
    max-width: 100px;
    padding: 5px;
    border-radius: 8px;
    margin-top: 8px;

}

.title{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding: 50px;
}

.container{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.info img{
    height: 200px;
    width: 200px;
    border: #f8bf22 solid;
    border-radius: 10px;
}

.info{
    max-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    align-items: center;
    flex-wrap: wrap;
}

.text{
    margin-top: 10px;
}

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    align-items: center;
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-weight: 1;
    max-width: 810px;
}

#quote-sign{
    display: block;
    justify-content: flex-end;
}
